/* Adding common CSS to Whole Page */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-weight: bold;
}

/* Adding CSS to BODY  */
body {
    overflow-x: hidden;
    background-color: #E3E6E6;
}

/* navbar CODE */
.navbar {
    color: white;
    background-color: #00453E;
    height: 50px;
    padding: 4px;
    display: flex;
}

#logo {
    width: 110px;
    padding: 5px;
    margin: 7px 15px;
}

#logo:hover {
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.address-container {
    margin: 2px;
    padding: 4px;
    font-size: 12px;
    font-weight: 700;
    align-items: center;
}

.address-container:hover {
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

#loc-symbol {
    width: 20px;
}

#deliver {
    font-size: 12px;
    font-weight: 300;
    margin-left: 20px;
    display: inline-block;
}

#locadd {
    display: inline-block;
    font-size: 14px;

}

/* Adding CSS to search bar contain  */
.search-container {
    display: flex;
    width: 800px;
    height: 60px;
    padding: 6px;
    margin-left: 10px;
}

.serch-category {
    display: inline-block;
}

#category-selector {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 13px;
    width: 52px;
    background-color: #D4D4D4;
    padding: 8px;
    cursor: pointer;
}

.search-bar-container {
    display: inline-block;
}

#category-selector,
#search-field {
    display: inline-block;
    height: 40px;
    margin: 0;
}

#search-field {
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
    width: 700px;
    outline: none;
}

/* SEARCH FIELD */
.search-icon {
    background-color: #FFDFD7;
    width: 50px;
    height: 30px;
    padding: 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-icon:hover {
    background-color: #FFCABD;
    cursor: pointer;
}

#search-icon {
    width: 28px;
}

/* LANGUAGE SELECTION */
.language-selector {
    display: flex;
    height: 30px;
    margin-left: 10px;
    margin-top: 8px;
    padding: 2px;
    /* width:620px; */
    /* overflow: auto; */
}

/* lANGUAGE ICON */
#lang-icon {
    width: 21px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

/* LANGUANGE SELECT */
#lang-select {
    color: white;
    width: 40px;
    background: none;
    outline: none;
}

.language-selector:hover {
    border: 1px solid whitesmoke;
    border-radius: 4px;
}

.language-selector option {
    color: black;
    border: none;
}

.language-selector:hover {
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;

}

/* id sign in */
.signin {
    padding: 4px;
    margin-left: 10px;
    height: 40px;
}

#hellosign {
    width: 140px;
    font-size: 12px;
    display: inline-block;
}

#acnt-list {
    display: inline;
    font-size: 14px;
}

#dropdown {
    width: 0.8rem;
    color: #D4D4D4;
}

.signin:hover {
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;

}

/* return & orders */

.return-orders {
    width: 59px;
    height: 40px;
    padding: 5px;
}

#return {
    font-size: 12px;
    margin-top: 6px;
}

#orders {
    font-size: 14px;
    width: 65px;
}

.return-orders:hover {
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.cart-container {
    width: 80px;
    padding: 5px;
    margin-left: 30px;
    display: flex;
}

.cart-container:hover {
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

#cart-icon {
    width: 40px;
    height: 40px;
    /* margin-left: 20px; */
}

#cart {
    margin-top: 17px;
}

/* LOWER Nav CSS Code  */
.lower-nav {
    width: 100%;
    height: 39px;
    background-color: #195851;
}

.lower-nav-container {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

#lower-nav-menu {
    width: 20px;
    height: 18px;
}


.menu-all {
    display: flex;
    width: 50px;
    padding: 3px;
}

.lower-nav .menu-all:hover {
    border: 1px solid white;
    border-radius: 5px;
}

.lower-nav .menu-all p {
    margin-left: 5px;
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.lower-nav p:not(#lower-nav-all) {
    color: white;
    font-size: 14px;
    margin: 5px 0px 6px;
    padding: 8px 9px;
    font-weight: 500;
}

.lower-nav p:hover:not(#lower-nav-all) {
    border: 1px solid white;
    border-radius: 5px;
}

/* main tag image */
.product-image {
    width: 100%;
    height: 340px;
    background-image: url("/Images/amazon books.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.amazonIn-link {
    width: 95%;
    height: 40px;
    background-color: #F5F6F6;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amazonIn-link p {
    font-size: 0.875rem;
    font-weight: normal;
}

.amazonIn-link p a {
    color: #007185;
    font-weight: normal;
    text-decoration: none;
}

/* Adding css to shopping blocks */
.shopping-category {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* column-gap: 30px; */
    gap: 10px;
    margin: 20px;
}

.shopping-category>div {
    width: 330px;
    height: 420px;
    /* border: 2px solid black; */
    padding: 10px;
    margin: 2px;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
}

.shopping-category>div>h2 {
    margin: 10px;
}

.shopping-category>div>a {
    display: inline-block;
    color: #007185;
    font-size: 0.87rem;
    margin: 30px 0px;
    text-decoration: none;
}

.shop-category2 {
    cursor: pointer;
}

.shopping-category>div>img {
    width: 320px;
    height: 303px;
}

/* Movies division CSS Code  */

.movies {
    /* width: 1434px; */
    height: 270px;
    padding: 10px 20px;
    background-color: white;
    margin: 20px
}

.movies-heading {
    margin: 10px 0px 0px;
}

.movies-heading>span {
    font-size: 21px;
}

.movies-content {
    display: flex;
    margin: 0px 0px 14px;
    height: auto;
    padding: 8px;
    overflow-x: scroll;

}

.movies-content::-webkit-scrollbar {
    display: none;
}

/* designing movie images  */

.movies-content>span>img {
    display: block;
    margin-right: 10px;
    cursor: pointer;
}

/* Footer part coding  */

.page-footer {
    position: relative;
    bottom: 0px;
}

.page-footer>span {
    display: block;
    /* height: 49px; */
    padding: 15px;
    background-color: #37475A;
    text-align: center;
}

.page-footer>span:hover {
    cursor: pointer;
    background-color: #3a495cf1;
}

.page-footer>span>a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
}

.page-footer>.page-footer-container {
    width: 100%;
    height: 500px;
    background-color: #131A22;
}

.page-footer>.page-footer-container>.page-footer-data {
    /* border: 3px solid white; */
    /* height:200px; */
    margin: 0px 180px;
    padding: 40px 80px;
    display: flex;
}

.page-footer-data>div {
    /* display: inline-block; */
    /* width: 180px; */
    margin: 20px 40px;
    position: relative;
    top: 0px;
}

.footer-data-list>li {
    list-style: none;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-data-list>li>a {
    text-decoration: none;
    font-weight: normal;
    color: white;
    font-size: 13px;
}

.footer-content-end {
    display: flex;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 30px;
    padding: 20px;
    border-top: 1.5px #ffffff35 solid;
    align-items: center;
    justify-content: center;
}

.footer-content-end>.footer-content-end-container {
    /* padding: 10px; */
    /* margin:30px 50px; */
    display: flex;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    justify-content: center;
}

.footer-content-end>.footer-content-end-container>img {
    display: inline-block;
    width: 70px;
    height: 30px;
    margin-top: 10px;
}

.footer-boxes {
    display: flex;
    margin: 0px 30px;
}

.footer-boxes>div {
    width: 120px;
    margin: 0px 20px;
    color: white;
    font-weight: normal;
    font-size: 12px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.footer-boxes>div>img {
    position: relative;
    top: 5px;
    left: -3px;
    width: 20px;
}